<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>CONTACT US</h2>
    <form action="">
        <label for="">name</label>
        <input type="text">
        <label for="">date of birth</label>
        <input type="date">
    </form>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure recusandae quae quos neque vero quidem quo
        voluptas officiis, repellendus excepturi pariatur corporis ab ut aperiam totam, velit omnis molestias.
        Asperiores.</p>
</body>

</html>