<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro nobis laboriosam tempora dolorem ipsam. Eos quaerat voluptatem sed quia magni numquam omnis, adipisci, fuga veniam inventore, voluptatum consectetur hic quibusdam?</p>
   
   
    <h2>BAABTRA</h2> 
    <a href="{% url 'App1:home' %}">HOME</a>
    <a href="{% url 'App1:about' %}">ABOOUT</a>
    <a href="{% url 'App1:contact' %}">CONTACT</a> <hr>
</body>
</html>